<div class="<%= container_classes %>">
  <% if @title || has_action_buttons? %>
    <div class="flex items-center justify-end mb-4">
      <%# if @title %>
<!--        <h1 class="<%#= title_classes %>"><%= @title %></h1>-->
      <%# end %>

      <% if has_action_buttons? %>
        <div class="flex items-center gap-2">
          <% if has_multiple_action_buttons? %>
            <!-- Multiple buttons: Show primary + dropdown for rest -->
            <% button = primary_action_button %>
            <% if button[:type] == :link %>
              <%= link_to button[:url], class: "#{action_button_classes(button)} btn-sm", data: button[:data] || {} do %>
                <%= icon button[:icon], library: "lucide", class: "w-4 h-4 mr-1" if button[:icon] %>
                <%= button[:label] %>
              <% end %>
            <% elsif button[:type] == :button %>
              <%= button_to button[:url], method: button[:method] || :post, class: "#{action_button_classes(button)} btn-sm", data: button[:data] || {} do %>
                <%= icon button[:icon], library: "lucide", class: "w-4 h-4 mr-1" if button[:icon] %>
                <%= button[:label] %>
              <% end %>
            <% end %>

            <% direction = I18n.locale == :ar ? :rtl : :ltr %>
            <%= render DropdownComponent.new(
              direction: direction,
              container_classes: "w-fit dropdown-end",
              dropdown_classes: "btn btn-outline btn-sm btn-square",
              menu_classes: "bg-base-100"
            ) do |dropdown| %>
              <% dropdown.with_trigger do %>
                <%= icon "menu", library: "lucide", class: "w-4 h-4" %>
              <% end %>
              <% dropdown.with_menu do %>
                <% secondary_action_buttons.each do |button| %>
                  <li>
                    <% if button[:type] == :link %>
                      <%= link_to button[:url], class: "flex items-center gap-2" do %>
                        <%= icon button[:icon], library: "lucide", class: "w-4 h-4" if button[:icon] %>
                        <%= button[:label] %>
                      <% end %>
                    <% elsif button[:type] == :button %>
                      <%= button_to button[:url], method: button[:method] || :post, class: "flex items-center gap-2 w-full text-left", data: button[:data] || {} do %>
                        <%= icon button[:icon], library: "lucide", class: "w-4 h-4" if button[:icon] %>
                        <%= button[:label] %>
                      <% end %>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <!-- Single button: Show cleanly -->
            <% button = primary_action_button %>
            <% if button[:type] == :link %>
              <%= link_to button[:url], class: action_button_classes(button), data: button[:data] || {} do %>
                <%= icon button[:icon], library: "lucide", class: "w-4 h-4 mr-1" if button[:icon] %>
                <%= button[:label] %>
              <% end %>
            <% elsif button[:type] == :button %>
              <%= button_to button[:url], method: button[:method] || :post, class: action_button_classes(button), data: button[:data] || {} do %>
                <%= icon button[:icon], library: "lucide", class: "w-4 h-4 mr-1" if button[:icon] %>
                <%= button[:label] %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if has_filters? %>
    <%= render filter_component %>
  <% end %>

  <%= turbo_frame_tag(@table_frame_id || 'data-table-frame') do %>
    <%= render TableComponent.new(
        columns: @columns,
        data: @data,
        pagy: @pagy,
        sort_column: @sort_column,
        sort_direction: @sort_direction,
        selectable: @selectable,
        selected_ids: @selected_ids,
        row_actions: @row_actions,
        disable_sorting: @disable_sorting,
        scrollable: @scrollable,
        empty_message: @empty_message,
        dom_id: @dom_id,
        record_id: @record_id
      ) %>
    <% if @pagy %>
      <%= render pagy_component %>
    <% end %>
  <% end %>
</div>
