<div class="<%= @dropdown_classes %>">
  <div tabindex="0" role="button" class="<%= @trigger_classes %>">
    <%= trigger %>
  </div>
  <ul tabindex="0" class="<%= @menu_classes %>">
    <%= menu %>
  </ul>
</div>