<div class="<%= container_classes %>" data-controller="pagy">
  <div class="flex items-center gap-4">
    <div class="<%= info_classes %>">
      <%= t('pagy.info', from: @pagy.from, to: @pagy.to, count: @pagy.count, default: "Showing %{from} to %{to} of %{count} entries") %>
    </div>
    <div class="flex items-center gap-2">
      <label class="text-sm text-base-content/70"><%= t('pagy.show', default: 'Show:') %></label>
      <% if @form_id %>
  <%= select_tag :limit, options_for_select([10, 25, 50, 100], @pagy.vars[:limit]), class: "select select-bordered select-sm", data: { controller: "pagy", action: "change->pagy#limitChanged" }, form: @form_id %>
      <% else %>
        <%= form_with url: request.path, method: :get, data: { turbo_frame: "_top" }, class: "inline" do |f| %>
          <%= f.select :limit, options_for_select([10, 25, 50, 100], @pagy.vars[:limit]), class: "select select-bordered select-sm", data: { controller: "pagy", action: "change->pagy#limitChanged" } %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="<%= nav_classes %>">
    <% if @pagy.prev %>
      <%= link_to url_for(request.params.merge(page: @pagy.prev)), class: "btn btn-sm btn-ghost" do %>
        <%= icon "chevron-left", library: "lucide", class: "w-4 h-4" %>
        <%= t('pagy.prev', default: 'Previous') %>
      <% end %>
    <% else %>
      <span class="<%= disabled_button_classes %>">
        <%= icon "chevron-left", library: "lucide", class: "w-4 h-4" %>
        <%= t('pagy.prev', default: 'Previous') %>
      </span>
    <% end %>
    <div class="flex items-center gap-1">
      <% @pagy.series.each do |item| %>
        <% if item.is_a?(Integer) %>
          <%= link_to item, url_for(request.params.merge(page: item)), class: page_link_classes(item, @pagy.page) %>
        <% elsif item == :gap %>
          <span class="<%= gap_classes %>">...</span>
        <% end %>
      <% end %>
    </div>
    <% if @pagy.next %>
      <%= link_to url_for(request.params.merge(page: @pagy.next)), class: "btn btn-sm btn-ghost" do %>
        <%= t('pagy.next', default: 'Next') %>
        <%= icon "chevron-right", library: "lucide", class: "w-4 h-4" %>
      <% end %>
    <% else %>
      <span class="<%= disabled_button_classes %>">
        <%= t('pagy.next', default: 'Next') %>
        <%= icon "chevron-right", library: "lucide", class: "w-4 h-4" %>
      </span>
    <% end %>
  </div>
</div>