<!DOCTYPE html>
<html lang="<%= I18n.locale %>"  dir="<%= I18n.locale.to_s == 'ar' ? 'rtl' : 'ltr' %>" data-controller="dir">
  <%= render "layouts/head" %>
  <body class="relative">
    <%= render FlashComponent.new %>
    <div class="flex justify-end mb-4">
      <%= render TopbarComponent.new(current_user: current_user) %>
    </div>
    <%= yield %>
  </body>
</html>
