<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="<%= I18n.locale.to_s == 'ar' ? 'rtl' : 'ltr' %>" data-controller="dir">
  <%= render "layouts/head" %>
  <body class="bg-background relative">
    <%#= render TopbarComponent.new(current_user: current_user) %>
    <%= render FlashComponent.new %>
    <div class="flex min-h-screen">
      <%= render SidebarComponent.new(current_user: current_user) %>
      <main class="flex-1 p-6">
        <div class="flex justify-end mb-4">
        </div>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
